/*
    Custom styles
*/
body {
        background: #eee;
        background-image: url(./images/bg.jpg);
        background-position: center;
        background-repeat: repeat;
        margin: 0px;
        padding: 0px;
}
.sitetitle {
        font-weight:bold;
        padding-left:10px;
        font-size: 18px;
        color: #CECECE;
}
.sitetitle:hover, .sitetitle:focus {
        color: #EEEEEE;
        text-decoration: none;
}
.sitelogo {
        margin-top: 2px;
    vertical-align: middle;
        padding-left:10px;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
        background-color: darkcyan;
    border-color: darkcyan;
}

.text-center a {
        font-weight: bold;
}

.alerticon {
        font-size: 90px;
        height: 120px;
}
.danger {
        color: #d9534f;
}
.warning {
        color: #f7eb04;
}
.success {
        color: #5cb85c;
}
.danger:hover, .danger:focus {
        color: red;
}
.warning:hover, .warning:focus {
        color: yellow;
}
.success:hover, .success:focus {
        color: green;
}
.col-sm-3 {
        padding-left: 0px;
}

.table {
        font-size: 10px;

}
/* for glyphicon spin */
.gly-spin {
  -webkit-animation: spin 1s 1 ease-out;
  -moz-animation: spin 1s 1 ease-out;
  -o-animation: spin 1s 1 ease-out;
  animation: spin 1s 1 ease-out;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/******************/
.tickerbtn {
        font-size:28px;
        cursor: pointer;
        margin-top:-6px;
        float: right;
}
.footer {
        bottom: 0;
        position: relative;
        width: 100%;
}